<parameters>
        <index><%= @index_path %></index>
        <trecFormat>true</trecFormat>
<% smoothing_rule.each do |rule| %>
        <rule><%= rule %></rule>
<% end %>
        <queryOffset><%= query_offset %></queryOffset>
<% o[:rm_topics].each_with_index do |rm_topic,i| %>
        <query>
        #weight(<%=1-o[:lambda]%> #combine(<%= topics[i] %>) <%=o[:lambda]%> #weight(<%= get_rm_query(rm_topic, o) %>))
        </query>
<% end  %>
</parameters>
